@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Rubik:wght@400;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
header .navbar {
  border: solid 4px;
  border-image-slice: 1;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-image-source: linear-gradient(to left, #8cc800, #59ffe3);
}
header .navbar .container-fluid .row .col .logo-web {
  font-size: 30px;
  padding: 10px;
}
header .navbar .container-fluid .collapse .navbar-nav .nav-item .nav-link {
  color: #fff;
}
header .navbar .container-fluid .collapse .navbar-nav .nav-item .nav-link:hover {
  opacity: 0.7;
}
header .navbar .container-fluid .collapse .navbar-nav .menu-desplegable {
  color: #fff;
}
header .navbar .container-fluid .collapse .navbar-nav .menu-desplegable:hover {
  opacity: 0.7;
}
header .navbar .container-fluid .collapse .buscador {
  display: flex;
  align-items: center;
  width: 650px;
}
header .navbar .container-fluid .collapse .buscador input[type=search] {
  flex-grow: 1;
}
header .navbar .container-fluid .collapse .buscador .btn-search {
  margin-left: 10px;
  color: #fff;
  border: none;
  border: 1px solid #fff;
  opacity: 1;
}
header .navbar .container-fluid .collapse .buscador .btn-search:hover {
  background-color: transparent;
  opacity: 0.9;
  border-color: #fff;
}
header .navbar .container-fluid .collapse .buscador .btn-search:active, header .navbar .container-fluid .collapse .buscador .btn-search:focus {
  outline: none;
  box-shadow: none;
  background-color: transparent !important;
  border-color: #fff !important;
}
header .navbar .container-fluid .collapse .login {
  font-size: 20px;
  display: flex;
  align-items: center;
  margin-right: 20px;
  color: #fff;
  text-decoration: none;
  transition: transform 0.2s ease-in-out;
}
header .navbar .container-fluid .collapse .login:hover {
  transform: scale(1.2);
  cursor: pointer;
  color: #fff;
}
header .navbar .container-fluid .collapse .login i {
  color: #fff;
}
header .navbar .container-fluid .collapse .login a {
  text-decoration: none;
}
header .navbar .container-fluid .collapse .carrito {
  font-size: 16px;
  display: flex;
  align-items: center;
  margin-right: 20px;
  color: #fff;
  transition: transform 0.2s ease-in-out;
}
header .navbar .container-fluid .collapse .carrito:hover {
  transform: scale(1.2);
  cursor: pointer;
}
header .navbar .container-fluid .collapse .carrito i {
  color: #fff;
}
header .navbar .container-fluid .collapse .carrito a {
  text-decoration: none;
}

.slider-frame {
  width: auto;
  height: auto;
  margin: 50 auto 0;
  overflow: hidden;
}
.slider-frame ul {
  display: flex;
  padding: 0;
  width: 300%;
  animation: slide 12s infinite alternate ease-in-out;
}
.slider-frame ul li {
  list-style: none;
  width: 100%;
}
.slider-frame ul li img {
  width: 100%;
}

@keyframes slide {
  0% {
    margin-left: 0%;
  }
  30% {
    margin-left: 0%;
  }
  35% {
    margin-left: -100%;
  }
  65% {
    margin-left: -100%;
  }
  70% {
    margin-left: -200%;
  }
  100% {
    margin-left: -200%;
  }
}
main .marcas-section {
  margin: 50px;
  margin-top: 0px;
}
main .marcas-section .best-marcas {
  font-size: 30px;
  margin: 5px 15px;
  padding-bottom: 10px;
  border-bottom: solid 1px gainsboro;
  font-weight: 900;
}
main .marcas-section .carousel .carousel-inner .carousel-item .card .card-body p {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: 800;
}
main .titles-products {
  display: flex;
  padding: 15px 15px;
  margin-left: 60px;
  font-size: 30px;
}
main .links {
  text-decoration: none;
  font-size: 12px;
  color: #B2DB8A;
  padding: 13px 20px;
}
main .links:hover {
  color: #0a070a;
}
main .container-notebooks-index {
  display: flex;
  margin: 20px 50px;
  background-color: #f2f2f2;
}
main .container-notebooks-index .item-gamer-img {
  display: flex;
  width: 284px;
  height: 415px;
  background-image: url(../public/images/gamer.png);
}
main .container-notebooks-index .item-pccompleta-img {
  display: flex;
  width: 284px;
  height: 415px;
  background-image: url(../public/images/pccompletas.png);
}
main .container-notebooks-index .item-notebook-img {
  display: flex;
  width: 284px;
  height: 415px;
  background-image: url(../public/images/notebooks.png);
}
main .container-notebooks-index .item-notebook {
  display: grid;
  grid-template-columns: repeat(4 1fr);
  align-items: center;
  justify-content: center;
  padding: 20px 25px;
}
main .container-notebooks-index .item-notebook .img-notebook img {
  height: 250px;
}
main .container-notebooks-index .item-notebook .info-container-notebook {
  display: grid;
  line-height: 1.5;
  padding: 5px 5px;
}
main .container-notebooks-index .item-notebook .info-container-notebook .info-notebook {
  display: flex;
  font-size: 14px;
  width: 80%;
  justify-content: flex-start;
  line-height: 1.5;
}
main .container-notebooks-index .item-notebook .info-container-notebook .precio {
  font-size: 15px;
  line-height: 2;
  font-weight: 900;
}
main .container-notebooks-index .item-notebook .info-container-notebook .btn-product {
  border: none;
  background: none;
  background-color: black;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 10px;
}
main .container-notebooks-index .item-notebook .info-container-notebook .btn-product:hover {
  background-color: #8ea55a;
}
main .contenedor-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px;
  width: 75%;
  margin: 25px auto;
}
main .contenedor-item .item {
  border-radius: 10px;
}
main .contenedor-item .item:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
main .contenedor-item .item img {
  width: 100%;
  height: 300px;
  object-fit: none;
  transition: all 0.5s;
  transform: scale(0.8);
}
main .contenedor-item .item img:hover {
  transform: scale(1);
}
main .contenedor-item .item figure {
  overflow: hidden;
}
main .contenedor-item .info-product {
  padding: 15px 30px;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
main .contenedor-item .info-product h2 {
  font-size: 25px;
}
main .contenedor-item .info-product .price {
  font-size: 25px;
  font-weight: 900;
}
main .contenedor-item .info-product button {
  border: none;
  background: none;
  background-color: black;
  color: white;
  padding: 20px 10px;
  cursor: pointer;
  font-size: 20px;
}
main .contenedor-item .info-product button:hover {
  background-color: #8ea55a;
}
main .banner {
  display: flex;
  justify-content: center;
  margin: 20px 20px;
}
main .banner img {
  width: 78%;
}
main .container {
  padding: 45px;
}
main .container .row {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
main .container .row .col-md-7 {
  padding: 20px;
}
main .container .row .col-md-7 .btn-formulario {
  background-color: black;
  border: none;
}
main .container .row .col-md-7 .btn-formulario:hover {
  background-color: #42b881;
}
main .container .row .col-md-5 {
  background: black;
  padding: 20px;
  color: white;
}
main .container .row .col-md-5 .mt-4 .d-flex p {
  font-size: 18px;
  padding-left: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main .container .row .col-md-5 .mt-4 .d-flex p .bi {
  font-size: 20px;
}

footer {
  bottom: 0;
  left: 0;
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  color: white;
  border: solid 4px;
  border-image-slice: 1;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  border-image-source: linear-gradient(to left, #8cc800, #59ffe3);
}
footer .footer-container {
  height: fit-content;
  width: 100%;
  padding: 2rem 4rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
footer .footer-container .footer-content-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
footer .footer-container .footer-content-container .website-logo {
  margin-bottom: 1.2rem;
  font-size: calc(1vw + 20px);
  font-family: "Rubik", sans-serif;
}
footer .footer-container .footer-content-container .footer-info {
  margin: 0.2rem 0;
  opacity: 0.7;
  color: white;
  text-decoration: none;
  transition: 0.5;
}
footer .footer-container .footer-content-container .footer-img {
  margin-top: 30px;
}
footer .footer-container .footer-content-container .menu-title {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}
footer .footer-container .footer-content-container .menu-item-footer {
  margin: 0.2rem 0;
  opacity: 0.7;
  color: white;
  text-decoration: none;
  transition: 0.5;
}
footer .footer-container .footer-content-container .menu-item-footer:hover {
  opacity: 1;
}
footer .footer-container .footer-content-container .social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 100%;
}
footer .footer-container .footer-content-container .social-container .social-link {
  height: 100%;
  width: 30px;
  background-image: url(../public/images/FacebookBlanco.png);
  background-size: 70%;
  background-position: center;
  margin-right: 1rem;
  background-repeat: no-repeat;
}
footer .footer-container .footer-content-container .social-container .social-link:hover {
  opacity: 0.7;
}
footer .footer-container .footer-content-container .social-container .social-link:nth-of-type(2) {
  background-image: url(../public/images/InstagramBlanco.png);
}
footer .footer-container .footer-content-container .social-container .social-link:nth-of-type(3) {
  background-image: url(../public/images/TwitterBlanco.png);
}
footer .footer-container .footer-menus {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 40%;
}
footer .copyright-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}
footer .copyright-container .copyright {
  font-size: 12px;
  opacity: 0.7;
  font-weight: 400;
  padding: 10px 0;
}

@media screen and (min-width: 576px) {
  .carousel-inner {
    display: flex;
  }
  .carousel-inner .carousel-item {
    display: block;
    margin-right: 0;
    flex: 0 0 20%;
    padding: 5px;
  }
}
@media (max-width: 480px) {
  header .navbar .container-fluid .collapse .buscador {
    flex-direction: row;
    align-items: flex-start;
  }
  header .navbar .container-fluid .collapse .buscador input[type=search] {
    width: 100%;
    max-width: 250px;
    margin-bottom: 4px;
  }
  header .navbar .container-fluid .collapse .login:hover, header .navbar .container-fluid .collapse .carrito:hover {
    transform: scale(1);
  }
  header .navbar .container-fluid .collapse .login .texto-iconos, header .navbar .container-fluid .collapse .carrito .texto-iconos {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
  }
  header .navbar .container-fluid .row .boton-hamburgesa {
    display: flex;
    position: absolute;
  }
  header .navbar .container-fluid .row .boton-hamburgesa .navbar-toggler {
    margin-left: auto;
  }
  .slider-frame img {
    height: 140px;
  }
  main section .banners .imagen1 {
    display: none;
  }
  main section .banners .imagen2 {
    width: 100%;
  }
  main section .contenedor-item {
    grid-template-columns: repeat(1, 1fr);
  }
  main .marcas-section {
    display: grid;
    justify-content: center;
  }
  main .marcas-section .best-marcas {
    display: flex;
    justify-content: center;
    padding: 7px;
    border-bottom: solid 1px gainsboro;
    margin-left: 0px;
    font-size: 32px;
  }
  main .container-notebooks-index {
    flex-direction: column;
  }
  main .container-notebooks-index .item-notebook-img {
    display: none;
  }
  main .container-notebooks-index .item-notebook {
    border: solid 1px gainsboro;
  }
  main .container-notebooks-index .item-pccompleta-img {
    display: none;
  }
  main .container-notebooks-index .item-gamer-img {
    display: none;
  }
  footer .footer-container {
    font-size: 13px;
  }
  footer .footer-container .foooter-menus .footer-content-container .footer-img {
    display: flex;
    margin: 25px;
  }
  footer .footer-container .foooter-menus .footer-content-container .menu-item-footer {
    padding-right: 15px;
  }
}
/* Estilos Globales */
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

/*# sourceMappingURL=styles.css.map */
