header {
    background-color: $color-principal;
    .navbar {
        @include borde-degradado(solid 4px, 1, 0, 0, 1, 0, linear-gradient(to left, #8cc800, #59ffe3));
        .container-fluid {
            .row {
                .col {
                    .logo-web {
                        font-family: "Rubik", sans-serif;
                        font-size: 30px;
                        padding: 10px;
                    }
                }
            }
            .collapse {
                .navbar-nav {
                    .nav-item {
                        .nav-link {
                            color: map-get($links, color-principal);
                            font-size: 16px;
                            &:hover {
                                opacity: 0.7;
                            }
                        }
                    }
                    .menu-desplegable {
                        color: map-get($links, color-principal);
                        &:hover {
                            opacity: 0.7;
                        }
                    }
                }
                .buscador {
                    display: flex;
                    align-items: center;
                    width: 650px;
                    input[type="search"] {
                        flex-grow: 1;
                    }
                    .btn-search {
                        margin-left: 10px;
                        color: map-get($links, color-principal);
                        border: none;
                        border: 1px solid #fff;
                        opacity: 1;
                        &:hover {
                            background-color: transparent;
                            opacity: 0.9;
                            border-color: #fff;
                        }
                        &:active, &:focus {
                            outline: none;
                            box-shadow: none;
                            background-color: transparent !important;
                            border-color: #fff !important;
                        }
                    }
                }
                .login {
                    font-size: 20px;
                    display: flex;
                    align-items: center;
                    margin-right: 20px;
                    color: map-get($links, color-principal);
                    text-decoration: none;
                    transition: transform 0.2s ease-in-out;
                    &:hover {
                        transform: scale(1.2);
                        cursor: pointer;
                        color: map-get($links, color-principal);
                        opacity: 0.9;
                    }
                    i {
                        color: map-get($links, color-principal);
                    }
                    a {
                        text-decoration: none;
                    }
                }
                .carrito {
                    font-size: 16px;
                    display: flex;
                    align-items: center;
                    margin-right: 20px;
                    color: map-get($links, color-principal);
                    transition: transform 0.2s ease-in-out;
                    &:hover {
                        transform: scale(1.2);
                        cursor: pointer;
                        opacity: 0.9;
                    }
                    i {
                        color: map-get($links, color-principal);
                    }
                    a {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}