@media screen and (min-width: 576px) {
    main {
        section {
            .banners {
                .imagen1 {
                    width: 100%;
                }
                .imagen2 {
                    display: none;
                }
            }
        }
        .marcas-section {
            .carousel-inner {
                display: flex;
                .carousel-item {
                    display: block;
                    margin-right: 0;
                    flex: 0 0 calc(100%/5);
                    padding: 5px;
                }
            }
        }
    }
}

@media (max-width: 480px) {
    header {
        .navbar {
            .container-fluid {
                .collapse {
                    Overflow-x:hidden;
                    .buscador {
                        flex-direction: row;
                        align-items: flex-start;
                        input[type="search"] {
                            width: 100%;
                            max-width: 250px;
                            margin-bottom: 4px;
                        }
                    }
                    .login, .carrito {
                        &:hover {
                            transform: scale(1);
                        }
                        .texto-iconos {
                            color: #fff;
                            text-decoration: none;
                            font-size: 15px;
                        }
                    }
                }
                .row {
                    .boton-hamburgesa {
                        display: flex;
                        position: absolute;
                        .navbar-toggler {
                            margin-left: auto;
                        }
                    }
                }
            }
        }
    }

    .slider-frame img {
        height: 140px;
    }

    main {
        section {
            .banners {
                .imagen1 {
                    display: none;
                }
                .imagen2 {
                    width: 100%;
                }
            }
            .contenedor-item {
                grid-template-columns: repeat(1, 1fr);
            }
        }
        .marcas-section {
            display: grid;
            justify-content: center;
            .best-marcas {
                display: flex;
                justify-content: center;
                padding: 7px;
                border-bottom: solid 1px gainsboro;
                margin-left: 0px;
                font-size: 32px;
            }
        }
        .container-notebooks-index {
            flex-direction: column;
            .item-notebook-img {
                display: none;
            }
            .item-notebook {
                border: solid 1px gainsboro;
            }
            .item-pccompleta-img {
                display: none;
            }
            .item-gamer-img {
                display: none;
            }
        }
    }

    footer {
        .footer-container {
            font-size: 13px;
            .foooter-menus {
                .footer-content-container {
                    .footer-img {
                        display: flex;
                        margin: 25px;
                    }
                    .menu-item-footer {
                        padding-right: 15px;
                    }
                }
            }
        }
    }
}