/*slider animacion*/

.slider-frame {
    width: auto;
    height: auto;
    margin: 50 auto 0;
    overflow: hidden;
}

.slider-frame ul {
    display: flex;
    padding: 0;
    width: 300%;
    
    animation: slide 12s infinite alternate ease-in-out;
}

.slider-frame li {
    list-style: none;
    width: 100%;
}

.slider-frame img {
    width: 100%;
}

@keyframes slide {
    0%{margin-left: 0%;}
    30%{margin-left: 0%;}

    35%{margin-left: -100%;}
    65%{margin-left: -100%;}

    70%{margin-left: -200%;}
    100%{margin-left: -200%;}
}